logs/*
old_src/*
__pycache__/
*/__pycache__/*
.history/*
organizador_materias.py
visor_materias.py
.github/
.history/
.swp
*.md
?.py
brain_mine.backup.db
help.txt
*.db
*.exe
*.cpp
.vscode/*
tests/*
SelfCopy.*
daniel-*/
*.tex
test*.py