logs/*
old_src/*
__pycache__/
*/__pycache__/*
organizador_materias.py
visor_materias.py
.swp
*.md
?.py
brain_mine.backup.db
help.txt
*.db
*.exe
*.cpp
.vscode/*
*???.py
tests/*
SelfCopy.*
daniel-*/
*.tex